<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/register.css">
    <title>Registro</title>
</head>
<body>
<header>
        <section class="main-header">
            <div class="top-header">
                <article class="logo-principal">
                    <a href="/"><img src="./img/logo-mercado-liebre.svg"></a>
                </article>
                <article class="barraDeBusqueda-nav">
                    <form action="" method="post" target="_blank">
                        <fieldset id="barraDeBusqueda-head">
                                <input type="search" placeholder="Buscar productos, marcas">
                                <button type="submit"><i class="fas fa-search"></i></button>
                        </fieldset>
                    </article>
                    <h3 class="p-compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h3>
                </div>
            </form>
            <nav id="navbar">
                <ul class="nav-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-right">
                    <li><a href="#" class="logos-izq">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                    <li><a href="#" class="logos-izq">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#" class="logos-izq">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <article class="burger-menu">
                <i class="fas fa-bars fa-2x"></i>
            </article>
        </section>
        
        <img src="./img/img-home-banner.jpg" class="imagen-banner">
    </header>
    <main>
    <section>
        <h1>Completá tus datos</h1>
        <form action="/register" method="POST">
            <fieldset>
                <label for="nombreYApellido" class="nombreYApellido">Nombre y Apellido</label>
                <input type="text"  id="nombreYApellido" name="nombreYApellido">
            </fieldset>
            <fieldset>
                <label for="nombreUsuario" class="nombreUsuario">Nombre de usuario</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario">
            </fieldset>
            <fieldset>
                <label for="e-mail" class="e-mail">E-mail</label>
                <input type="email"  id="email" name="email">
            </fieldset>
            <fieldset>
                <label for="fechaDeNacimiento" class="label-titulo">Fecha de nacimiento</label>
                <input type="date"  id="fechaDeNacimiento" name="fechadDeNacimiento">
            </fieldset>
            <fieldset>
                <label for="domicilio"></label>
                <input type="text" placeholder="Domicilio" id="domicilio">
            </fieldset>
            <fieldset id="perfilDeUsuario">
                <p>Perfil de usuario</p>
                <input  type="radio" name="pdeusuario" id="comprador">
                <label for="comprador">Comprador</label>
                <input type="radio" name="pdeusuario" id="vendedor">
                <label for="vendedor">Vendedor</label>
            </fieldset>
            <fieldset id="intereses">
                <p>Intereses</p>
                <label for="electro">Electro</label>
                <input  type="checkbox" name="intereses" id="electro">
                <label for="moda">Moda</label>
                <input  type="checkbox" name="intereses" id="moda">
                <label for="hogar">Hogar</label>
                <input  type="checkbox" name="intereses" id="hogar">
                <label for="jugueteria">Jugueteria</label>
                <input  type="checkbox" name="intereses" id="jugueteria">
                <label for="vidaSana">Vida Sana</label>
                <input  type="checkbox" name="intereses" id="vidaSana">
            </fieldset>
            <fieldset class="fotoDeUsuario">
                <label for="fotoDeUsuario">Foto de usuario</label>
                <input type="file" id="fotoDeUsuario" name="fotoDeUsuario">
            </fieldset>
            <fieldset class="contraseña-field">
                <label for="contra">Contraseña</label>
                <input type="password" id="contraseña" name="contraseña">
            </fieldset>
            <fieldset class="contraseña-field">
                <label for="Rcontra">Confirmar contraseña</label>
                <input type="password" id="Rcontraseña" name="Rcontraseña">
            </fieldset>
            <fieldset id="aceptoTerminos">
                <input type="radio"><p class="acepto-termino">Acepto los Términos y Condiciones y autorizo el uso de mis datos de acuerdo a la Declaración de Privacidad.</p>
            </fieldset>
            <fieldset id="botones">
                
                <button type="submit" class="botones-ml-register">ENVIAR</button>
                <button type="reset" class="botones-ml-register">RESETEAR</button>
            </fieldset>
        </form>
    </section>
</main>
    <footer>
        <article>
            <article class="logos-footer">
                <i class="fas fa-credit-card fa-3x"></i>
            </article>
            <p class="texto-footer">
                
            <b class="titulo-footer">Pagá con tarjeta o en efectivo</b>
            <p class="texto-footer-in">
                
                Con Mercado Libre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es
                seguro!
            </p>
        </p>
    </article>
    <article>
        <article class="logos-footer">
            <i class="fas fa-gift fa-3x"></i>
        </article>
        <p class="texto-footer">
            
            <b class="titulo-footer">Envío gratis desde $ 2.500</b>
            <p class="texto-footer-in">
                
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </p>
    </article>
    <article>
        <article class="logos-footer">
            <i class="fas fa-user-shield fa-3x"></i>
        </article>
        <p class="texto-footer">
            <b class="titulo-footer">Seguridad, de principio a fin</b>
            <p class="texto-footer-in">
                
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
            
        </p>
        <article><p id="footerid" class=" titulo-footer titulo-footer-copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p></article>
    </article>
</footer>
</body>
</html>