@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/


/**************************************^^HEADER^^^********************************************/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


header{
    width: 100%;
    color: black; 
}

.main-header{
    padding: 20px;
    background-color: #EAC926;
    position: fixed;
    top: 0;
    z-index: 0;
}


.logo-principal img{
    width: 25vh;
}

.logos-izq i{
    padding-left: 10px;
    color: black;
}

/*.burger-menu i{
    font-size: 1.5em;
    width: 12%;
    margin: auto;
    border-radius: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #1259c3;
    display: block;
}
    

.burger-menu{
    color: white;
    text-align: center;
    box-sizing: content-box; 
}*/

.burger-menu{
    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 50px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#barraDeBusqueda-head{
    display: flex;
    flex-direction: row;
    
}

#barraDeBusqueda-head button{
    background-color: white;
    
}

#barraDeBusqueda-head i{
    width: 20px;
}


.barraDeBusqueda-nav{
    margin-left: 15px;
    padding-left: 5px;
    margin-right: 20px;
    
}

.barraDeBusqueda-nav form{
    background-color: white;
    margin: 10px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    z-index: 1;
    border: 5px;
    border-radius: 12px;
    color: #666;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}



#navbar{
    background-color: #EAC926; 
    list-style-type: none;
    display: none; 
}

#navbar ul{
    list-style-type: none;
}

#navbar a{
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0;
}


header p    {
    font-size: 12px; 
}

.p-compra{
    text-align: center;
    background-color: #EAC926;
    font-weight: 400;
    max-width: 350px;


}

.imagen-banner{
    width: 100%;
    display: none;
    z-index: 1;
    margin-top: 55vh;
}
/**************************************^^BODY^^^********************************************/


body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ebebeb;
    margin: 0px;
    font-family: "Roboto";
    min-height: 100vh;
    width: 100vw; 
}

main{
    width: 90%;
    margin: auto;
    margin-top: 65vh;
}

.linea-body{
    border: solid 1px #ebebeb;
    padding: 0px;
}



.contenedor-body{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 12px;
    padding: 8px;
    
}

.camion{
    margin-bottom: 7px;
    margin-top: 7px;
}


.camion i{
    display: inline-block;
    color:#39b54a;
    border-radius: 50%;
    border: solid 2px #39b54a ;
    box-sizing: content-box;
    padding: 7px;
    transition: all .5s linear;
}
   
.camion:hover{
 color: red;
}

.titulares{
    font-size: 30px;
    background-color: #ebebeb;
    font-weight: none;
    color: #666;
    margin-bottom: 15px;
    margin-top: 15px;
}

.precio{
    font-size: 25px;
    margin-bottom: 6px; 
}

.descuentos{
    font-size: 16px;
    color: #39b54a; 
    margin-bottom: 7px; 
}

.descripciones{
    font-size: 25px;
    color: #666;
    display: none;  
}

.imagenes{
    width: 100%;
}
/**************************************^^FORMS^^^********************************************/


form *{
    border: none; 
}

h1{
    padding-left: 19px;
    margin-bottom: 40px;
    margin-top: 20px;
}

form fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

form p{
    padding-left: 19px;
    font-size: 30px;
    font-weight: 900px;
}

#aceptoTerminos{
    margin-top: 8vh;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: row;
}

.acepto-termino{
    padding: 0px;
    font-size: 15px;
    font-weight: 400;
}

.label-titulo{
    padding-left: 19px;
    font-size: 20px;
    font-weight: 400px;
}

input{
    border-bottom: 1px solid #ebebeb ;
}

form input{
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
}

#perfilDeUsuario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

#comprador{
    margin-left: 30px;
}

#Vendedor{
    margin-right: 30px; 

}

#perfilDeUsuario p{
    margin-bottom: 30px;
    flex: 1 0 auto;
    width: 100%;
    
}

#intereses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 7px;
}

#intereses p{
    margin-bottom: 20px;
    margin-top: 20px;
    flex: 1 0 auto;
    padding-left: 12px;
    width: 100%;
}

.nombreYApellido{
    padding-left: 19px;
}

.nombreUsuario{
    padding-left: 19px;
}

.e-mail{
    padding-left: 19px;
}


.contraseña-field{
    padding-left: 19px;
}

#botones{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.botones-ml-register{

    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 150px;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 600;

}

.botones-ml-login{

    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 150px;
    padding: 10px 40px;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 600;

}

/**************************************^^ANIMACION-DESCRIPCION^^^********************************************/


.descripciones{
    visibility: hidden;
    height: 0vh;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

.contenedor-body:hover > .descripciones{
    visibility: visible;
    height: 25vh;

}

/**************************************^^FOOTER^^^********************************************/


/**************************************^^FOOTER^^^********************************************/


footer{
    width: 100%;
    box-sizing: content-box;
    background-color: white; 
}

.logos-footer i{
    color: #1259c3;
    margin-left: 45%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: content-box;
}

.texto-footer{
    font-size: 16px;
    color: #666;
    text-align: center;
    
}

.titulo-footer{
    font-size: 20px;
    color: #666;
    text-align: center;
   
    
    
}

.texto-footer-in{
    white-space: inherit;
    text-align: center;
    font-size: 13px;
    margin-top: 13px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

footer{
    display: block;
}

#footerid{
    opacity: 0.5;
    font-size: 13px;
    margin-bottom: 30px;
}


/**************************************^^MEDIA-QUERYS^^^********************************************/


/**************************************^^TABLETS^^^********************************************/

@media (min-width: 361px){

    .logo-principal img{
        width: 37vh;
    }

    body{
        background-color: #ebebeb;
    }

    main{
        margin-top: 10vh;
        margin-bottom: 20vh;
        background-color: #ebebeb;
        box-shadow: none;

    }

    .main-header{
        position: absolute;
        width: 100vw;
    }

    .barraDeBusqueda-nav form{
        position: absolute;  
        top: -10px;
        right: 30px
    }

    .barraDeBusqueda-nav form{
        background-color: white;
        z-index: 1;
        padding: 10px;
        margin: 20px;
        border: 5px;
        border-radius: 12px;
        color: #666;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .barraDeBusqueda-nav input{
        margin: 10px;
        padding: 5px;
        z-index: 1;
    }


       
    .barraDeBusqueda-nav p{
        padding-left: 0px;
        font-size: 0px;
    }
    
   

    .descripciones{
        font-size: 25px;
        color: #666;
        display: block;
    }


   #navbar{
        display: flex;
        justify-content: space-between;
        margin-top: 20vh;
    
        
    }

    #navbar ul{
        display: flex;
        flex-direction: row ;
        width: 43%;
        
    }

    #navbar li{
        margin: 5px 5px;
        width: 33%;
        
    
    }

    #canasta.logos-izq{
        margin-right: 10px;
    }

    .burger-menu{
        display: none;
      
    
    }

    .top-header{
        display: flex;
        justify-content: space-between;
    }

    .p-compra{
        text-align: center;
        background-color: #EAC926;
        font-weight: 400;
        max-width: 350px;
        position: relative;
        right: 130px;
        top: 100px;
        z-index: 0;
    
    }

    .imagen-banner{
        width: 100%;
        display: block;
        margin-top: 51vh;
    }
        
    
    main h1{
        padding-left: 20px;
        font-weight: 400;
    }

    .botones-ml-login{

        background-color: #1259c3;
        color: white;
        display: block;
        max-width: 150px;
        padding: 10px 40px;
        border-radius: 8px;
        text-align: center;
        font-size: 14px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 10px;
        font-family: "Roboto";
        font-weight: 600;
    
    }

    /**************************************^^FORMS^^^********************************************/


    form{
        background-color: white;
        padding: 20px;
        margin: 20px;
        z-index: 1;
        border: 5px;
        color: #666;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }



    form label{
        margin: 10px;
    }

    #intereses{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }  

    #intereses label{
        padding: 0px;
        margin: 0px;
    }


    #fotoDeUsuario{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .nombreYApellido{
        padding-left: 19px;
    }

    .nombreUsuario{
        padding-left: 19px;
    }

    .e-mail{
        padding-left: 19px;
    }

   input{
       border-bottom: 1px solid #ebebeb ;
   }

   input:target{
       border: none;
   }

   #aceptoTerminos{
       margin-top: 8vh;
       margin-bottom: 8vh;
       display: flex;
       flex-direction: row;
    }

   .acepto-termino{
       font-size: initial;
   }

   #aceptoTerminos input{
       margin: 7px;
   }

    /**************************************^^FLEXBOX-BODY^^^********************************************/

      main img{
        width: 50%;
    }

    .contenido-body{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
    }

    .contenedor-body{
        width: 38%;
        margin-right: 10vw;
        margin-top: 20px;
    }


    .titulares{
        width: 100vw;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }

   /**************************************^^FOOTER^^^********************************************/
   
   footer{
    display: flex;
    padding: 10px;
 }

 #footerid{
    font-size: 12px;
    opacity: 0.5;
    position: absolute;
    left: 220px;
    top: 518vh;
}

 footer p{
     font-size: 13px;
     ;
 }


 .texto-footer-in {
     white-space: inherit;
     text-align: center;
     margin: 0px;
     margin-top: 20px;
     margin-bottom: 40px;
     margin-left: 10px;
     margin-right: 10px;
 }

}
    


/**************************************^^DESKTOP^^^********************************************/

@media (min-width: 769px){


    #barraDeBusqueda-head{
        width: 200px;
    }

    body{
        background-color: #ebebeb;
    }

    main{
        margin-top: 15vh;
    }

    .main-header{
        position: absolute;
        width: 100vw;
    }

    .descripciones{
        font-size: 25px;
        color: #666;
        display: block;
    }

    
    #navbar{
        display: flex;
        justify-content: space-between;
        
        
    }

    #navbar ul{
        display: flex;
        justify-content: space-around;
    
        
    }


    
    
    #navbar li{
        margin: 0px;
        width: 20%;
        
    }

    .nav-right {
        display: flex;
        justify-content: space-evenly;
    }

    

    button{
        width: 20px;
    }
    
    
    .burger-menu{
        display: none;
        
    }
    
    .imagen-banner{
        width: 100%;
        display: block;
        margin-top: 49vh;
        
    }
    /**************************************^^FLEXBOX-BODY^^^********************************************/

    main img{
        width: 50%;
    }

    .contenido-body{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
    }

    .contenedor-body{
        width: 22%;
        margin-right: 10vw;
        margin-top: 20px;
    }


    .titulares{
        width: 100vw;
        margin-top: 30px;
        margin-bottom: 30px;
        padding-left: 30px;
    }


     /**************************************^^BARRA-DE-BUSQUEDA^^^********************************************/

 

     .barraDeBusqueda-nav form{
        background-color: white;
        z-index: 1;
        padding: 10px;
        margin: 20px;
        border: 5px;
        border-radius: 12px;
        color: #666;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    .barraDeBusqueda-nav form {
        position: absolute;
        top: -10px;
        right: 400px;
        width: 350px;
    }

    .barraDeBusqueda-nav input{
        margin: 10px;
        padding: 5px;
        z-index: 1;
    }


       
    .barraDeBusqueda-nav p{
        padding-left: 0px;
        font-size: 0px;
    }

    .p-compra {
        text-align: right;
        background-color: #EAC926;
        font-weight: 400;
        max-width: 350px;
        position: absolute;
        right: 20px;
        top: 30px;
        z-index: 0;
    
    }

    /**************************************^^FORMS^^^********************************************/

    main h1{
        padding-left: 20px;
        font-weight: 400;
    }

    form{
        background-color: white;
        padding: 20px;
        margin: 20px;
        z-index: 1;
        border: 5px;
        color: #666;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }

    form label{
        margin: 10px;
    }

    #intereses{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .nombreYApellido{
        padding-left: 19px;
    }

    .nombreUsuario{
        padding-left: 19px;
    }

    .e-mail{
        padding-left: 19px;
    }

   input{
       border-bottom: 1px solid #ebebeb ;
   }

   input:target{
       border: none;
   }

   #aceptoTerminos{
       margin-top: 8vh;
       margin-bottom: 8vh;
       display: flex;
       flex-direction: row;
    }

   .acepto-termino{
       font-size: initial;
   }

   #aceptoTerminos input{
       margin: 7px;
   }


    .botones-ml-register{

    background-color: #1259c3;
    color: white;
    display: block;
    max-width: 200px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 100px;
    border-radius: 8px;
    font-size: 14px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Roboto";
    font-weight: 600;

    }

    /**************************************^^FOOTER^^^********************************************/


    footer{
        display: flex;
        padding: 10px;
    }
 
    #footerid{
        font-size: 12px;
        opacity: 0.5;
        position: absolute;
        left: 220px;
        top: 392vh;
   }
 
    footer p{
        font-size: 13px;
         
    }
 
    #footerid {
        font-size: 12px;
        opacity: 0.5;
        position: absolute;
        left: 450px;
    }   
 
    .texto-footer-in {
        white-space: inherit;
        text-align: center;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
}   